---
import { Image } from 'astro:assets'
import type { ImageMetadata } from 'astro'
import Button from '@components/ui/Button.astro'
import Heading from '@components/ui/Heading.astro'

export type Props = {
  sectionId: string
  heroImage: {
    src: ImageMetadata | string
    alt: string
  }
  title: string
  subheading?: string
  primaryButtonText?: string
  primaryButtonHref?: string
  secondaryButtonText?: string
  secondaryButtonHref?: string
  className?: string
}

const {
  sectionId = 'hero',
  heroImage,
  title,
  subheading,
  primaryButtonText,
  primaryButtonHref,
  secondaryButtonText,
  secondaryButtonHref,
  className = '',
} = Astro.props
---

<section
  id={sectionId}
  class={`relative overflow-clip bg-black/60 tablet:rounded-bl-[96px] tablet:rounded-br-[96px] rounded-bl-[36px] rounded-br-[36px] ${className}`}
  aria-label="Hero section"
>
  <!-- Background Image -->
  <div class="absolute inset-0 z-0">
    <Image
      src={heroImage.src}
      alt={heroImage.alt}
      class="h-full w-full object-cover object-center"
      loading="eager"
    />
    <div class="absolute inset-0 bg-black/60"></div>
  </div>

  <!-- Content -->
  <div class="desktop:pt-60 desktop:pb-60 relative z-10 container mx-auto px-4 pt-40 pb-20">
    <div class="flex flex-col items-start justify-start gap-16">
      <!-- Hero Content -->
      <div class="flex w-full max-w-3xl items-center justify-center">
        <div class="flex w-full flex-col items-start justify-center">
          <!-- Hero Title -->

          <Heading tag="h1" size="h1" variant="white" text={title} align="left" />

          <!-- Hero Text and Actions -->
          <div class="flex w-full flex-col items-start justify-start gap-6">
            {subheading && <p class="text-text-white text-2xl/snug font-bold">{subheading}</p>}

            <!-- Action Buttons -->
            {
              (primaryButtonText || secondaryButtonText) && (
                <div class="flex items-center justify-center gap-8">
                  {primaryButtonText && (
                    <Button
                      href={primaryButtonHref}
                      intent="secondary"
                      size="large"
                      borderRadius="corner"
                      ariaLabel={primaryButtonText}
                    >
                      {primaryButtonText}
                    </Button>
                  )}
                  {secondaryButtonText && (
                    <Button
                      href={secondaryButtonHref}
                      intent="primary"
                      size="large"
                      borderRadius="corner"
                      ariaLabel={secondaryButtonText}
                    >
                      {secondaryButtonText}
                    </Button>
                  )}
                </div>
              )
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Trust Stats Card -->
</section>
