---
import { Image } from 'astro:assets'
import Button from '@components/ui/Button.astro'
import Heading from '@components/ui/Heading.astro'
import Badge from '../ui/Badge.astro'
import { formatText } from '@lib/utils/textFormatting'
import type { SectionWithBullets } from '@schemas/section-schemas'

type Props = {
  content: SectionWithBullets
}

const {
  content: {
    sectionId,
    title,
    background,
    paragraphs,
    badge,
    reverse,
    justifyContent,
    buttons,
    image,
    bulletPoints,
    listType,
  },
} = Astro.props as Props
---

<section
  class={`tablet:py-28 py-10 ${background}`}
  aria-label="Section with bullets container"
  id={sectionId}
>
  <div class="container">
    <div class="desktop:grid-cols-2 grid items-center gap-20">
      <div
        class={`desktop:items-start h-full desktop:text-left flex flex-col items-center text-center ${
          justifyContent === 'center' ? 'justify-center' : 'justify-start'
        } ${reverse ? 'order-2' : 'order-1'}`}
      >
        {
          badge && (
            <Badge intent="secondary" roundness="sm" size="base">
              {badge}
            </Badge>
          )
        }

        <Heading tag="h2">{title}</Heading>
        <div class="mb-8 flex flex-col">
          {
            Object.entries(paragraphs).map(([key, text]) => {
              void key
              return <p class="text-text-primary mt-4" set:html={formatText(text)} />
            })
          }
        </div>

        {
          bulletPoints.length > 0 && (
            <div class="mb-8 w-full">
              <ul
                class={`desktop:text-left list-inside space-y-3 text-center ${
                  listType === 'numbers' ? 'list-decimal' : 'list-disc'
                }`}
              >
                {bulletPoints.map((point) => (
                  <li class="text-text-primary">{point}</li>
                ))}
              </ul>
            </div>
          )
        }

        {
          buttons && (
            <div class="tablet:flex-row desktop:justify-start flex w-full flex-col justify-center gap-4">
              {buttons.primary && (
                <Button
                  intent="primary"
                  size="medium"
                  borderRadius="corner"
                  href={buttons.primary.href}
                >
                  {buttons.primary.text}
                </Button>
              )}
              {buttons.secondary && (
                <Button
                  intent="outlined"
                  size="medium"
                  borderRadius="corner"
                  href={buttons.secondary.href}
                >
                  {buttons.secondary.text}
                </Button>
              )}
            </div>
          )
        }
      </div>
      <div class={`${reverse ? 'order-1' : 'order-2'} h-full w-full`}>
        <Image
          src={image.src}
          alt={image.alt}
          class={`w-full rounded-3xl object-cover ${
            image.size ? `aspect-${image.size}` : 'h-full'
          } ${image.position === 'middle' ? 'self-center' : 'self-start'}`}
        />
      </div>
    </div>
  </div>
</section>
