---
import Heading from '@components/ui/Heading.astro'
import Badge from '@components/ui/Badge.astro'
import { formatText } from '@lib/utils/textFormatting'
import type { SectionWithText } from '@schemas/section-schemas'

type Props = {
  content: SectionWithText
}

const {
  content: { sectionId, title, description, badge, className },
} = Astro.props as Props
---

<section
  class={`tablet:py-28 py-10 bg-white ${className}`}
  aria-label="Get in touch section"
  id={sectionId}
>
  <div class="container">
    <div class="flex flex-col items-center justify-start">
      <div class="flex flex-col items-center justify-start text-center">
        {
          badge && (
            <Badge intent="secondary" roundness="sm" size="base" class="mb-0">
              {badge}
            </Badge>
          )
        }

        {
          title && (
            <Heading
              tag="h2"
              size="h2"
              variant="primary"
              align="center"
              formattedText={title}
            />
          )
        }
      </div>

      {
        description && (
          <div class="w-full max-w-[900px]">
            <p
              class="text-text-primary tablet:text-2xl text-lg leading-[1.4] font-normal tablet:text-center text-left mt-4"
              set:html={formatText(description)}
            />
          </div>
        )
      }
    </div>
  </div>
</section>
