---
import Button from '@components/ui/Button.astro'
import Heading from '@components/ui/Heading.astro'
import Badge from '../ui/Badge.astro'
import { formatText } from '@lib/utils/textFormatting'
import type { SectionWithTrustStatsContent } from '@types/section'

export type Props = {
  content: SectionWithTrustStatsContent
}

const { content } = Astro.props
---

<section
  class="text-text-white from-brand to-primary-dark bg-gradient-to-br py-20"
  aria-label="Why homeowners trust us section container"
  id={content.sectionId}
>
  <div class="container">
    <div class="desktop:grid-cols-2 grid items-center gap-20">
      <div
        class={`desktop:items-start h-full text-left flex flex-col items-center ${
          content.justifyContent === 'center' ? 'justify-center' : 'justify-start'
        } ${content.reverse ? 'order-2' : 'order-1'}`}
      >
        {
          content.badge && (
            <Badge intent="primary" roundness="sm" size="base">
              {content.badge}
            </Badge>
          )
        }

        <Heading tag="h2">{content.title}</Heading>
        <div class="mb-8 flex flex-col">
          {
            Object.entries(content.paragraphs).map(([key, text]) => {
              void key
              return <p class="text-text-white mt-4" set:html={formatText(text)} />
            })
          }
        </div>
        {
          content.buttons && (
            <div class="tablet:flex-row desktop:justify-start flex w-full flex-col justify-center gap-4">
              {content.buttons.primary && (
                <Button
                  intent="secondary"
                  size="medium"
                  borderRadius="corner"
                  href={content.buttons.primary.href}
                >
                  {content.buttons.primary.text}
                </Button>
              )}
            </div>
          )
        }
      </div>

      <div class={`${content.reverse ? 'order-1' : 'order-2'} h-full w-full flex items-center justify-center`}>
        <div class="grid h-[316px] grid-cols-2 gap-8">
          {
            content.trustStats.map((stat, index) => (
              <div class="flex flex-col items-center justify-start text-center">
                <div class="text-text-secondary-light mb-2 text-6xl leading-normal font-bold">
                  {stat.value}
                </div>
                <div class="text-text-white text-lg leading-[1.4] font-normal">{stat.label}</div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
