---
import { Image } from 'astro:assets'
import Button from '@components/ui/Button.astro'
import Heading from '@components/ui/Heading.astro'
import Badge from '../ui/Badge.astro'
import { Icon } from 'astro-icon/components'
import { formatText } from '@lib/utils/textFormatting'
import type { SectionContent } from '@schemas/section-schemas'
import { projectIcons } from '@config/icons'

type Props = {
  content: SectionContent
  carouselImages: Array<{
    src: ImageMetadata
    alt: string
  }>
}

const {
  content: { sectionId, title, background, paragraphs, badge, reverse, justifyContent, buttons },
  carouselImages,
} = Astro.props as Props
---

<section
  class={`py-10 tablet:py-28 ${background}`}
  aria-label="Section with carousel"
  id={sectionId}
>
  <div class="container">
    <div class="desktop:grid-cols-2 items-strech grid justify-items-stretch tablet:gap-20 gap-12">
      <div
        class={`desktop:items-start h-full text-left flex flex-col items-center ${
          justifyContent === 'center' ? 'justify-center' : 'justify-start'
        } ${reverse ? 'order-2' : 'order-1'}`}
      >
        {
          badge && (
            <Badge intent="secondary" roundness="sm" size="base">
              {badge}
            </Badge>
          )
        }

        <Heading tag="h2" size="h2" variant="primary" class="desktop:text-left text-center">{title}</Heading>
        <div class="mb-8 flex flex-col">
          {
            Object.entries(paragraphs).map(([key, text]) => {
              void key
              return <p class="text-text-primary mt-4" set:html={formatText(text)} />
            })
          }
        </div>
        {
          buttons && (
            <div class="tablet:flex-row desktop:justify-start flex w-full flex-col justify-center gap-4">
              {buttons.primary && (
                <Button
                  intent="primary"
                  size="medium"
                  borderRadius="corner"
                  href={buttons.primary.href}
                >
                  {buttons.primary.text}
                </Button>
              )}
            </div>
          )
        }
      </div>

      <div class={`${reverse ? 'order-1' : 'order-2'} w-full aspect-square`}>
        <div class="relative h-full w-full overflow-hidden rounded-3xl" data-carousel-container>
          <div class="relative h-full w-full">
            {
              carouselImages.map((image, index) => (
                <Image
                  src={image.src}
                  alt={image.alt}
                  class={`absolute inset-0 h-full w-full object-cover ${
                    index === 0 ? 'opacity-100' : 'opacity-0'
                  }`}
                  data-carousel-image
                  data-index={index}
                />
              ))
            }
          </div>

          {
            carouselImages.length > 1 && (
              <div class="absolute right-4 bottom-4 flex tablet:gap-12 gap-6">
                <button
                  class="border-brand text-brand hover:bg-brand relative z-10 flex h-12 w-12 cursor-pointer items-center justify-center rounded-full border-2 bg-white transition duration-300 hover:text-white"
                  tabindex="0"
                  aria-label="Previous image"
                  data-carousel-prev
                >
                  <Icon name={projectIcons.chevronLeft} class="h-6 w-6" />
                </button>
                <button
                  class="border-brand text-brand hover:bg-brand relative z-10 flex h-12 w-12 cursor-pointer items-center justify-center rounded-full border-2 bg-white transition duration-300 hover:text-white"
                  tabindex="0"
                  aria-label="Next image"
                  data-carousel-next
                >
                  <Icon name={projectIcons.chevronRight} class="h-6 w-6" />
                </button>
              </div>
            )
          }
        </div>
      </div>
    </div>
  </div>
</section>

<script src="@lib/carouselSlider.ts"></script>
