---
import { Image } from 'astro:assets'
import Button from '@components/ui/Button.astro'
import Heading from '@components/ui/Heading.astro'
import Badge from '../ui/Badge.astro'
import { formatText } from '@lib/utils/textFormatting'
import type { SectionContent } from '@types/section'



type Props = {
  content: SectionContent
}

const { content } = Astro.props
---

<section class="py-10 tablet:py-28 text-text-white bg-gradient-to-br from-brand to-primary-dark" aria-label="Hero section container">
  <div class="container">
    <div class="desktop:grid-cols-2 grid items-center gap-20">
      <div
        class={`desktop:items-start h-full text-left flex flex-col items-center ${
          content.justifyContent === 'center' ? 'justify-center' : 'justify-start'
        } ${content.reverse ? 'order-2' : 'order-1'}`}
      >
        {
          content.badge && (
            <Badge intent="primary" roundness="sm" size="base">
              {content.badge}
            </Badge>
          )
        }

        <Heading tag="h2">{content.title}</Heading>
        <div class="mb-8 flex flex-col">
          {
            Object.entries(content.paragraphs).map(([key, text]) => {
              void key
              return <p class="mt-4 text-text-white" set:html={formatText(text)} />
            })
          }
        </div>
        {
          content.buttons && (
            <div class="tablet:flex-row desktop:justify-start flex w-full flex-col justify-center gap-4">
              {content.buttons.primary && (
                <Button
                  intent="secondary"
                  size="medium"
                  borderRadius="corner"
                  href={content.buttons.primary.href}
                >
                  {content.buttons.primary.text}
                </Button>
              )}
            </div>
          )
        }
      </div>
      {
        content.image.src && (
          <div class={`${content.reverse ? 'order-1' : 'order-2'} h-full w-full`}>
            <Image
              src={content.image.src}
              alt={content.image.alt}
              class={`w-full rounded-3xl object-cover ${
                content.image.size ? `aspect-${content.image.size}` : 'h-full'
              } ${content.image.position === 'middle' ? 'self-center' : 'self-start'}`}
            />
          </div>
        )
      }

    </div>
  </div>
</section>
