---
import Button from '@components/ui/Button.astro'
import Heading from '@components/ui/Heading.astro'
import Badge from '@components/ui/Badge.astro'
import { formatText } from '@lib/utils/textFormatting'
import type { SectionWithTrustStats } from '@schemas/section-schemas'

type Props = {
  content: SectionWithTrustStats
}

const {
  content: {
    sectionId,
    title,
    statsTextSize,
    paragraphs,
    badge,
    reverse,
    justifyContent,
    buttons,
    trustStats,
  },
} = Astro.props as Props
---

<section
  class="tablet:py-28 py-10 text-text-white from-brand to-primary-dark bg-gradient-to-br"
  aria-label="Why homeowners trust us section container"
  id={sectionId}
>
  <div class="container">
    <div class="desktop:grid-cols-2 grid items-center gap-20">
      <div
        class={`desktop:items-start h-full text-left flex flex-col items-center ${
          justifyContent === 'center' ? 'justify-center' : 'justify-start'
        } ${reverse ? 'order-2' : 'order-1'}`}
      >
        {
          badge && (
            <Badge intent="primary" roundness="sm" size="base">
              {badge}
            </Badge>
          )
        }

        <Heading tag="h2" size="h2">{title}</Heading>
        <div class="mb-8 flex flex-col">
          {
            Object.entries(paragraphs).map(([key, text]) => {
              void key
              return <p class="text-text-white mt-4" set:html={formatText(text)} />
            })
          }
        </div>
        {
          buttons && (
            <div class="tablet:flex-row desktop:justify-start flex w-full flex-col justify-center gap-4">
              {buttons.primary && (
                <Button
                  intent="secondary"
                  size="medium"
                  borderRadius="corner"
                  href={buttons.primary.href}
                >
                  {buttons.primary.text}
                </Button>
              )}
            </div>
          )
        }
      </div>

      <div
        class={`${reverse ? 'order-1' : 'order-2'} h-full w-full flex items-center justify-center`}
      >
        <div class="grid grid-cols-2 gap-8">
          {
            trustStats.map((stat, index) => (
              <div class="flex flex-col items-start justify-start">
                <div class={`text-text-secondary ${statsTextSize} leading-normal font-bold`}>
                  {stat.value}
                </div>
                <div class="text-text-white text-lg font-medium">{stat.label}</div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
