---
import { Image } from 'astro:assets'
import Heading from '@components/ui/Heading.astro'
import { Icon } from 'astro-icon/components'
import { formatText } from '@lib/utils/textFormatting'
import type { SectionContent } from '@schemas/section-schemas'

type FaqItem = {
  question: string
  answer: string
  items: Array<{
    text: string
  }>
}

type Props = {
  content: SectionContent
  faqItems: FaqItem[]
  image: {
    src: ImageMetadata
    alt: string
  }
}

const {
  content: { sectionId, title, background, paragraphs, badge, reverse, justifyContent, buttons },
  faqItems,
  image,
} = Astro.props as Props
---

<section class={`py-10 tablet:py-28 ${background}`} aria-label="FAQ section" id={sectionId}>
  <div class="container">
    <div class="desktop:grid-cols-2 grid items-start gap-20">
      <div
        class={`desktop:items-start h-full text-left flex flex-col items-center ${
          justifyContent === 'center' ? 'justify-center' : 'justify-start'
        } ${reverse ? 'order-2' : 'order-1'}`}
      >
        <Heading tag="h2" class="mb-8">{title}</Heading>

        <div class="w-full space-y-2" data-accordion>
          {
            faqItems.map((faq, index) => (
              <div
                class="border-brand overflow-hidden rounded-xl border bg-white/90"
                data-accordion-item
              >
                <button
                  class="flex w-full items-center justify-between px-4 py-4 text-left"
                  data-accordion-question
                  aria-expanded="false"
                  tabindex="0"
                >
                  <span class="text-brand text-lg font-bold">{faq.question}</span>
                  <Icon name="quill:chevron-down" class="text-brand h-6 w-6" />
                </button>

                <div class="border-brand border-t px-4" data-accordion-answer aria-hidden="true">
                  <div class="space-y-4 pt-4">
                    {faq.items.map((item) => (
                      <div class="flex items-start gap-4">
                        <Icon
                          name="quill:chevron-up"
                          class="text-brand mt-0.5 h-6 w-6 flex-shrink-0"
                        />
                        <span class="text-text-primary text-lg leading-relaxed">{item.text}</span>
                      </div>
                    ))}
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </div>

      <div class={`${reverse ? 'order-1' : 'order-2'} h-full w-full`}>
        <div class="relative h-[600px] w-full overflow-hidden rounded-3xl">
          <Image src={image.src} alt={image.alt} class="h-full w-full object-cover" />
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import { FAQ } from '@lib/Faq'
  document.addEventListener('DOMContentLoaded', () => new FAQ())
</script>
