---
import { z } from 'zod'
import Button from '@components/ui/Button.astro'

const PropsSchema = z.object({
  sectionId: z.string(),
  title: z.string(),
  description: z.string().optional(),
  primaryButtonText: z.string().optional(),
  primaryButtonHref: z.string().optional(),
  backgroundClass: z.string().optional(),
})

export type Props = z.infer<typeof PropsSchema>

const {
  sectionId,
  title,
  description,
  primaryButtonText,
  primaryButtonHref,
  backgroundClass = 'bg-gradient-to-br from-brand to-primary-dark',
} = PropsSchema.parse(Astro.props)
---

<section
  class={`content-stretch flex gap-2.5 items-start justify-center relative size-full ${backgroundClass}`}
  id={sectionId}
>
  <div
    class="relative box-border flex w-full max-w-7xl shrink-0 flex-col content-stretch items-center justify-start gap-16 px-4 tablet:py-28 py-10"
  >
    <div
      class="relative flex w-full max-w-4xl shrink-0 flex-col content-stretch items-center justify-start gap-8"
    >
      <div
        class="relative flex w-full shrink-0 flex-col content-stretch items-center justify-start gap-6"
      >
        <div
          class="relative w-full shrink-0 text-center text-3xl leading-0 font-bold text-white md:text-6xl lg:text-7xl"
        >
          <h2 class="leading-none">{title}</h2>
        </div>
      </div>
      <div
        class="relative min-w-full shrink-0 text-center text-lg leading-0 font-semibold text-white md:text-xl"
      >
        <p class="leading-[1.4]">{description}</p>
      </div>
      <Button
        href={primaryButtonHref}
        intent="secondary"
        size="large"
        borderRadius="corner"
        ariaLabel={primaryButtonText}
      >
        {primaryButtonText}
      </Button>
    </div>
  </div>
</section>
