---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'

import Link from '@components/ui/Link.astro'
import SocialLink from '@components/ui/SocialLink.astro'
import { navigationConfig, socialConfig, siteConfig } from '@config'
---

<footer class="bg-sky-700">
  <div class="border-b border-white">
    <div class="container">
      <div
        class="desktop:grid-cols-3 desktop:gap-0 grid grid-cols-1 justify-items-center gap-10 py-10"
      >
        <!-- Logo -->
        <Link href="/" intent="secondary" class="desktop:justify-self-start justify-self-center">
          <Image src={siteConfig.logo} alt={siteConfig.name} class="h-auto w-40" />
        </Link>

        <div
          class="tablet:flex-row flex flex-col items-center justify-center gap-8 text-sm font-semibold text-white"
        >
          {
            navigationConfig.footer.map((link) => (
              <Link href={link.href} intent="secondary" size="small" fontWeight="semibold">
                {link.text}
              </Link>
            ))
          }
        </div>
        <div
          class="desktop:justify-self-end tablet:gap-4 flex flex-row items-center justify-end gap-2 justify-self-center"
        >
          {
            socialConfig.platforms.map((social) => (
              <SocialLink href={social.url} platform={social.name} intent="dark" size="medium">
                <Icon name={social.icon} class="h-5 w-5 text-black" />
              </SocialLink>
            ))
          }
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div
      class="tablet:flex-row flex flex-col items-center justify-center gap-8 py-4 text-sm text-white"
    >
      <p>{siteConfig.copyright}</p>
      {
        navigationConfig.legal.map((link) => (
          <Link href={link.href} intent="secondary" size="xsmall" fontWeight="semibold">
            {link.text}
          </Link>
        ))
      }
    </div>
  </div>
</footer>
