---
import { Image } from 'astro:assets'
import Badge from '@components/ui/Badge.astro'
import Heading from '@components/ui/Heading.astro'
import { Icon } from 'astro-icon/components'
import QuotationMark from '@assets/images/quotation-mark-white.svg'

export type Props = {
  title: string
  sectionId: string
  testimonials: Array<{
    testimonial: string
    name: string
    position: string
    company: string
    avatar: ImageMetadata
  }>
  badgeText?: string
}

const {
  testimonials,
  badgeText,
  title = 'Client Testimonials Showcase Our Excellence',
  sectionId = 'testimonials',
} = Astro.props
---

<section class="overflow-x-clip bg-gradient-to-br from-primary-light/5 to-brand/5" aria-label={title} id={sectionId}>
  <div class="relative tablet:px-0 tablet:py-28 mx-auto flex max-w-7xl flex-col px-4 py-10">
    <Image src={QuotationMark} alt='Image' class='absolute w-full desktop:max-w-[60rem] top-0 -right-8'/>
    <div class="mx-auto flex max-w-3xl flex-col items-center text-center z-1">
      {
        badgeText && (
          <Badge intent="secondary" roundness="sm" size="base">
            {badgeText}
          </Badge>
        )
      }
      <Heading
        tag="h2"
        size="h2"
        variant="default"
        text={title}
        align="center"
        class="tablet:text-5xl mb-20 text-3xl font-bold"
      />
    </div>
    <div class="mx-auto desktop:gap-20 w-full tablet:max-w-3xl flex flex-col tablet:grid tablet:grid-cols-3 gap-6 bg-white/15 backdrop-blur-xl tablet:shadow-lg tablet:shadow-brand/5 rounded-3xl" data-slider="testimonial">
      <div class="relative aspect-square tablet:aspect-[5/9.8] w-full overflow-hidden rounded-3xl">
        {
          testimonials.map((testimonial, index) => (
            <Image
              src={testimonial.avatar}
              alt={testimonial.name}
              loading="eager"
              decoding="async"
              class={`testimonial-image absolute inset-0 h-full w-full object-cover ${index === 0 ? 'opacity-100' : 'opacity-0'}`}
              style="will-change: opacity"
              data-index={index}
            />
          ))
        }
      </div>
      <div class="col-span-2 flex flex-col justify-center">
        <div class="testimonial-content relative min-h-[200px] overflow-hidden">
          <div class="testimonial-slider flex" data-slider-container>
            {
              testimonials.map((testimonial, index) => (
                <div
                  class="testimonial-text w-full flex-shrink-0 tablet:pr-8 tablet:pt-8"
                  data-slider-item
                  data-index={index}
                >
                  <p class="tablet:text-lg tablet:mb-6 text-base font-medium text-text-primary">
                    "{testimonial.testimonial}"
                  </p>
                  <p class="font-bold text-text-primary">{testimonial.name}</p>
                  <p class=" text-text-primary mb-6">
                    {testimonial.position} • {testimonial.company}
                  </p>
                </div>
              ))
            }
          </div>
        </div>
        <div class="tablet:gap-10 my-6 tablet:my-8 flex flex-row items-center gap-6">
          <button
            class="tablet:w-12 relative z-10 flex aspect-square w-10 items-center justify-center rounded-full border border-brand text-text-brand p-2 transition duration-300 hover:bg-brand hover:text-text-white"
            tabindex="0"
            aria-label="Previous testimonial"
            data-slider-prev
          >
            <Icon name="quill:chevron-left" class="h-6 w-6" />
          </button>
          <button
            class="tablet:w-12 relative z-10 flex aspect-square w-10 items-center justify-center rounded-full border border-brand text-text-brand p-2 transition duration-300 hover:bg-brand hover:text-text-white"
            tabindex="0"
            aria-label="Next testimonial"
            data-slider-next
          >
            <Icon name="quill:chevron-right" class="h-6 w-6" />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="@lib/testimonialSlider.ts"></script>
