---
import { Image } from 'astro:assets'
import Badge from '@components/ui/Badge.astro'
import Heading from '@components/ui/Heading.astro'
import { Icon } from 'astro-icon/components'
import QuotationMark from '@assets/images/quotation-mark-white.svg'
import { projectIcons } from '@config/icons'

export type Props = {
  title: string
  sectionId: string
  testimonials: Array<{
    data: {
      testimonial: string
      name: string
      position: string
      company: string
      avatar: ImageMetadata
    }
  }>
  badgeText?: string
}

const {
  testimonials,
  badgeText,
  title = 'Client Testimonials Showcase Our Excellence',
  sectionId = 'testimonials',
} = Astro.props
---

<section
  class="from-primary-light/5 to-brand/15 overflow-x-clip bg-gradient-to-br"
  aria-label={title}
  id={sectionId}
>
  <div class="tablet:px-0 tablet:py-28 relative mx-auto flex max-w-7xl flex-col px-4 py-10">
    <Image
      src={QuotationMark}
      alt="Image"
      class="desktop:max-w-[54rem] absolute top-0 -right-8 w-full"
    />
    <div class="z-1 mx-auto flex max-w-3xl flex-col items-center text-center">
      {
        badgeText && (
          <Badge intent="secondary" roundness="sm" size="base">
            {badgeText}
          </Badge>
        )
      }
      <Heading
        tag="h2"
        size="h2"
        variant="primary"
        formattedText={title}
        align="center"
        class="tablet:mb-20 mb-12"
      />
    </div>
    <div
      class="desktop:gap-20 tablet:max-w-3xl tablet:grid tablet:grid-cols-3 tablet:shadow-lg tablet:shadow-brand/5 mx-auto flex w-full flex-col gap-6 rounded-3xl bg-white/15 backdrop-blur-xl"
      data-slider="testimonial"
    >
      <div class="tablet:aspect-[5/9.8] relative aspect-square w-full overflow-hidden rounded-3xl">
        {
          testimonials.map((testimonial, index) => (
            <Image
              src={testimonial.data.avatar}
              alt={testimonial.data.name}
              loading="eager"
              decoding="async"
              class={`testimonial-image absolute inset-0 h-full w-full object-cover ${index === 0 ? 'opacity-100' : 'opacity-0'}`}
              style="will-change: opacity"
              data-index={index}
            />
          ))
        }
      </div>
      <div class="col-span-2 flex flex-col justify-center">
        <div class="testimonial-content relative min-h-[200px] overflow-hidden">
          <div class="testimonial-slider flex" data-slider-container>
            {
              testimonials.map((testimonial, index) => (
                <div
                  class="testimonial-text tablet:pr-8 tablet:pt-8 w-full flex-shrink-0"
                  data-slider-item
                  data-index={index}
                >
                  <p class="tablet:text-lg tablet:mb-6 mb-2 text-text-primary text-base font-medium">
                    "{testimonial.data.testimonial}"
                  </p>
                  <p class="text-text-primary font-bold">{testimonial.data.name}</p>
                  <p class="text-text-primary text-base tablet:mb-6">
                    {testimonial.data.position} • {testimonial.data.company}
                  </p>
                </div>
              ))
            }
          </div>
        </div>
        <div class="tablet:gap-10 tablet:my-8 my-6 flex flex-row items-center gap-6">
          <button
            class="tablet:w-12 border-brand text-text-brand hover:bg-brand hover:text-text-white relative z-10 flex aspect-square w-10 items-center justify-center rounded-full border p-2 transition duration-300 cursor-pointer"
            tabindex="0"
            aria-label="Previous testimonial"
            data-slider-prev
          >
            <Icon name={projectIcons.chevronLeft} class="h-6 w-6" />
          </button>
          <button
            class="tablet:w-12 border-brand text-text-brand hover:bg-brand hover:text-text-white relative z-10 flex aspect-square w-10 items-center justify-center rounded-full border p-2 transition duration-300 cursor-pointer"
            tabindex="0"
            aria-label="Next testimonial"
            data-slider-next
          >
            <Icon name={projectIcons.chevronRight} class="h-6 w-6" />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="@lib/testimonialSlider.ts"></script>
