---
import Button from '@components/ui/Button.astro'
import type { Props as ButtonProps } from './Button.astro'
import Link from '@components/ui/Link.astro'

export type Props = {
  justify?: 'center' | 'start' | 'end'
  textColor?: string
  formWidth?: 'sm' | 'md' | 'lg' | 'xl' | '2xl' | '3xl' | '4xl' | '5xl' | '6xl' | '7xl'
  buttonProps?: Partial<ButtonProps>
  inputBackground?: string
  inputBorder?: string
}

const {
  justify = 'center',
  textColor = 'text-gray-700',
  formWidth = 'md',
  inputBackground = 'bg-transparent',
  inputBorder = 'border-black',
  buttonProps = {
    intent: 'primary',
    size: 'medium',
    borderRadius: 'full',
  },
} = Astro.props as Props

// Create a mapping object for max-width classes
const maxWidthClasses = {
  'sm': 'max-w-sm',
  'md': 'max-w-md',
  'lg': 'max-w-lg',
  'xl': 'max-w-xl',
  '2xl': 'max-w-2xl',
  '3xl': 'max-w-3xl',
  '4xl': 'max-w-4xl',
  '5xl': 'max-w-5xl',
  '6xl': 'max-w-6xl',
  '7xl': 'max-w-7xl',
}

const maxWidthClass = maxWidthClasses[formWidth]
---

<form action="" class={`flex flex-col items-${justify} w-full ${maxWidthClass}`}>
  <div class="desktop:grid-cols-[1fr,auto] grid grid-cols-1 gap-4">
    <input
      type="email"
      id="email"
      name="email"
      placeholder="Enter your email"
      required
      class={`rounded-full border ${inputBorder} px-6 py-4 text-center focus:bg-gray-100 desktop:text-left ${inputBackground}`}
    />
    <div class="desktop:justify-self-start flex w-full flex-col justify-center">
      <Button {...buttonProps}>Subscribe</Button>
    </div>
    <p class={`col-span-1 pl-4 text-left text-sm ${textColor}`}>
      By clicking Subscribe you are confirming that you agree with our
      <Link
        href=""
        intent="primary"
        size="xsmall"
        fontWeight="bold"
        class="font-bold transition duration-300 hover:underline">Terms and Conditions</Link
      >.
    </p>
  </div>
</form>
